<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="Facebook" version="5.4.1.0" />
  <package id="FacebookWeb" version="5.4.1.0" />
  <package id="FacebookWebMvc" version="5.4.1.0" />
  <package id="Facebook.channel" version="5.4.1.0" />
  <package id="Facebook.JavascriptMvcWebsite" version="5.4.1.0" />
</packages>